#lets
	padding 100px 0 50px
	position relative
	background-image url(../img/backs/about.png)
	background-repeat no-repeat
	background-position: center top
	background-size: 100% 100%
	&:after
		content: ''
		display block
		position absolute
		width 250px
		height 475px
		background-image url(../img/images/lets.png)
		background-repeat no-repeat
		background-position: center
		background-size contain
		top 50px
		right 0
	.container
		position relative
		z-index 10
.lets-item
	margin-bottom: 50px
	overflow hidden
	display table
	width 100%
	&-title
		font-size: 60px
		font-family: AG
		font-weight: 800
		padding-right: 30px
		color  #0055F9;
		display table-cell
		vertical-align: middle
	&-text
		display table-cell
		vertical-align: middle