.modal
	display none
	cursor: auto !important
	padding 20px 25px
.modal-title
	font-size: 20px
	font-family: AG
	font-weight: 800
	color #0055F9
.modal-block-title
	margin 20px 0 10px
	font-size: 18px
	font-family: A
	font-weight: bold
.modal-list
	margin-left: 10px
	li
		margin-bottom: 5px
		padding-left: 13px
		position relative
		list-style: none
		font-size: 18px
		&:last-child
			margin-bottom: 0
		&:before
			content ''
			display block
			position absolute
			top 8px
			left 0
			width 6px
			height 6px
			transform: rotate(45deg)
			background-color: #0055F9;