header
	a(href="https://mastervision.su", target="_blank").header-logo
		img(src=path+"img/images/logo.png", alt="MasterVision")
	//- .contacts
		a.contact.contact-tel(href="callto:+79256042224" target="_blank") +7 (925) 604 22 24
		//- a.contact.contact-skype(href="https://join.skype.com/invite/gkwrZmJPOtuf" target="_blank")
		a.contact.contact-email(href="mailto:info@mv-centr.ru" target="_blank") info@mv-centr.ru