@import 'base/0.fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/jquery.fancybox.min.css'

@import 'base/0.base'

@import 'base/0.header'
@import 'main/1.main'
@import 'main/2.about'
@import 'main/3.benefits'
@import 'main/4.teach'
@import 'main/5.for'
@import 'main/6.plan'
@import 'main/7.andrey'
@import 'main/8.yulya'
@import 'main/9.revs'
@import 'main/10.last'
@import 'base/0.footer'
@import 'main/11.modal'
@import 'main/12.medias'