#about
	padding 100px 0 
	position relative
	background-image url(../img/backs/about.png)
	background-repeat no-repeat
	background-position: top center
	background-size: 100% 100%
	// &:before
	// 	content ''
	// 	display block
	// 	position absolute
	// 	z-index 0
	// 	width 3000px
	// 	height 600px
	// 	background-color: rgba(0,85,249,0.17)
	// 	transform: rotate(4deg)
	// 	top: 100px
	// 	left -200px
.video-wrapper-about
	max-width 560px
.about-text
	margin-bottom: 20px
	&:first-of-type
		position relative
		&:before
			content: ''
			display block
			position absolute
			width 100px
			height 100px
			transform: rotate(45deg)
			background-color:  rgba(0, 85, 249, 0.17);
			top -20px
			left -100px
.circles
	position relative
	width 100%
	max-width 570px
	margin 40px auto 0
	display flex
	align-content: center
	justify-content: space-between
.circle
	width 150px
	height 150px
	border-radius: 50%
	background-color: transparent
	border 40px solid rgba(0, 85, 249, 0.5);