#benefits
	padding 70px 0 30px
.general-title-benefits
	max-width 600px
.benefit
	padding 70px 0 0
	width 100%
	// max-width 380px
	margin 0 auto 40px
	background-repeat no-repeat
	background-position: top left
	background-size: auto 60px
	&-1
		background-image url(../img/icons/benefit-1.png)
	&-2
		background-image url(../img/icons/benefit-2.png)
	&-3
		background-image url(../img/icons/benefit-3.png)
	&-4
		background-image url(../img/icons/benefit-4.png)
	&-title
		font-size: 24px
		font-family: A
		margin-bottom: 20px