#yulya
	padding 100px 0
	position relative
	background-image url(../img/backs/yulya.png)
	background-repeat no-repeat
	background-position: center top
	background-size: 100% 100%
	&:after
		content ''
		display block
		position absolute
		width 200px
		height 200px
		left 150px
		bottom: 400px
		transform: rotate(45deg)
		background-color: rgba(0, 85, 249, 0.4);
.yulya-img
	position relative
	width 100%
	max-width 600px
	height auto
	top 0
	left -100px
	display block
	margin -50px auto 0
	z-index 60
.author-cert
	img
		display block
		margin 0 auto
		width 100%
		max-width 555px
		position relative
		z-index 50