A = 'Arial', sans-serif
R = 'Roboto', sans-serif
AG = 'AgrandirGrandHeavy', sans-serif

@font-face {
	font-family: 'AgrandirGrandHeavy';
	font-display: fallback;
	font-weight: 900
	font-style: normal;
	src: local  url('../fonts/AgrandirGrandHeavy.eot');
	src: url('fonts/AgrandirGrandHeavy.eot');
	src: url('fonts/AgrandirGrandHeavy.eot') format('embedded-opentype'),
		 url('fonts/AgrandirGrandHeavy.woff2') format('woff2'),
		 url('fonts/AgrandirGrandHeavy.woff') format('woff'),
		 url('fonts/AgrandirGrandHeavy.ttf') format('truetype'),
		 url('fonts/AgrandirGrandHeavy.svg#AgrandirGrandHeavy') format('svg');
}
@font-face {
	font-family: 'Roboto';
	font-display: fallback;
	font-weight: normal
	font-style: normal;
	src: local  url('../fonts/Roboto.eot');
	src: url('fonts/Roboto.eot');
	src: url('fonts/Roboto.eot') format('embedded-opentype'),
		 url('fonts/Roboto.woff2') format('woff2'),
		 url('fonts/Roboto.woff') format('woff'),
		 url('fonts/Roboto.ttf') format('truetype'),
		 url('fonts/Roboto.svg#Roboto') format('svg');
}