header
	padding 20px 0
	margin-bottom: 50px
	overflow hidden
.header-logo
	float left
.contacts
	text-align right
	float right
	line-height: 34px
.contact
	font-size: 16px
	color #000
	text-decoration none
	font-family: A
	&&-skype
		margin 0 15px
	&:focus
		text-decoration none
		color #000
	&:hover
		color #000
		text-decoration underline