section#main
	.container
		include ../base/0.header.pug
		h1.main-title Профессия
			br
			| Интернет-маркетолог
		h2.main-subtitle Превратитесь в востребованного специалиста – начните карьеру в интернете уже сегодня!
		form(action=action+group method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" ).form.form-main
			h3.form-title Изменись сейчас!
			.email-block.email-block-form
				input( type="hidden" value="1" name="required_fields[email]")
				input(class="input input-mail input-mail-main" name="Contact[email]" type="text" placeholder="Email")
			button(type="submit").button.button-form.button-form-main Записаться
			.clearfix
			p.alert-message
			.checking
				input(type="checkbox" id="check-1" checked).check
				label(for="check-1").check-label Я согласен с 
					a(href="https://mastervision.su/politics.pdf" download target="_blank") условиями обработки
					|  персональных данных по 152 - Ф3
			div(style="display: none;")
				#formTypeSpecificVars-1(style="display: none;")
					input(type="hidden" value=group id="form_newsletter_id_newsletter_1" name="Contact[id_newsletter]")
				<!-- API код канала рекламы -->
				input(type="hidden" value="0" id="form_newsletter_id_advertising_channel_page_1" name="Contact[id_advertising_channel_page]")
				input(type="hidden" name="formId" value=formId)
				input(type="hidden" name="formVc" value=formVc)
		img(src="img/images/yulya-main.png", alt="Юлия Масюль").main-img.main-img-yulya
		img(src="img/images/andrey-main.png", alt="Андрей Худояров").main-img.main-img-andrey