section#about
	.container
		.col-md-6.col-sm-6
			.video-wrapper.video-wrapper-about
				iframe(src="https://youtube.com/embed/?modestbranding=1&autoplay=1&mute=1" allowfullscreen)
				.circles.circles-about
					.circle.circle-1
					.circle.circle-2
					.circle.circle-3
		.col-md-6.col-sm-6
			p.about-text Освойте профессию «Интернет-маркетолог» с нуля! Мы дадим вам знания и навыки, которые позволят вам стать востребованным специалистом на современном рынке труда. И без понимания интернет-технологий здесь не обойтись! Вы освоите основные инструменты смм, а также узнаете все нюансы работы с таргетированной рекламой и тонкости настройки контекстной рекламы

			p.about-text Всю информацию, которую получите во время занятий, мы собирали по крупицам годами. Это результат нашего многолетнего опыта работы и прохождения ряда курсов повышения квалификации. Постоянное участие в конференциях даёт нам возможность оставаться в курсе трендов digital-сферы

			p.about-text Мы поможем вам не просто разобраться в этой сфере, а стать профессионалом в этом направлении. Мы не классические инфобизнесмены, наш курс появился на основе программы обучения партнёров Master Vision. После наших курсов партнёры увеличивают свои доходы минимум в 2 раза