mixin ben(cl,h4,p)
	.benefit(class=cl)
		h4.genefit-title=h4
		p.benefit-text=p

section#benefits
	.container
		+gt('general-title-benefits','Наш мастер-класс – это ваша отправная точка для дальнейших достижений!')
		.row
			.col-md-4.col-sm-4
				+ben('benefit-1','Стабильность','Вы сможете обрести новую специальность и увеличить свой ежемесячный доход')
			.col-md-4.col-sm-4
				+ben('benefit-2','Широкий профиль','Вы получите полный комплект навыков сразу по нескольким направлениями и станете универсальным интернет-специалистом, освоив «фишки» smm, таргета и контекстной рекламы')
			.col-md-4.col-sm-4
				+ben('benefit-3','Искусство переговоров','Вы познаете все тонкости переговорного процесса и  сможете виртуозно общаться с работодателями, успешно отстаивая свои условия труда')
		.row
			.col-md-6.col-sm-6
				+ben('benefit-4','Доход от соцсетей','Вы научитесь создавать и продвигать продающие аккаунты в самых популярных социальных сетях – Фэйсбук, Вконтакте, Инстаграм')
			.col-md-6.col-sm-6
				.circles.circles-benefits
					.circle.circle-1
					.circle.circle-2
					.circle.circle-3