mixin t(cl,p)
	.teach-item(clss=cl)
		p.teach-item-text=p

section#teach
	.container
		+gt('','Мы научим вас:')
		.row
			.col-md-6.col-sm-6
				+t('teach-item-1','Создавать контент-план, работать с отложенным постингом и узнаете секреты создания креативных, продающих постов и сторис при помощи незаменимых фото- и видеоредакторов (Canva, Supa, Inshot и Snapseed и др.);')
				+t('teach-item-2','Работать с такими программами, как Taplink, Sanler и другие;')
				+t('teach-item-3','Правильно определять портрет своей целевой аудитории, тем самым снизив стоимость лида и заявки;')
				+t('teach-item-4','Разбираться в тонкостях работы с рекламными кабинетами, ставить верные цели запуска рекламного объявления;')
				+t('teach-item-5','Настраивать ретаргетинг и понимать, для чего он нужен;')
				+t('teach-item-6','Устанавливать код пикселя и понимать, что это такое;')
			.col-md-6.col-sm-6
				+t('teach-item-7','Работать с аналитикой Yandex. Metrika, Google Analytics, Роистат, Коллтрекинг, Таблицы, LTV;')
				+t('teach-item-8','Выбирать наиболее подходящий вид рекламы и аргументировать свою позицию;')
				+t('teach-item-9','Самостоятельно принимать важные стратегические решения;')
				+t('teach-item-10','Подбирать компетентных специалистов на должность smm-менеджера, таргетолога или менеджера по настройке контекстной рекламы;')
				+t('teach-item-11','Экономить бюджет заказчика ещё на этапе планирования рекламной кампании;')
				+t('teach-item-12','Делать рекламу, которая продаёт, а не просто приносит трафик')