mixin f(cl,p)
	.for-item(class=cl)
		p.for-item-text=p

section#for
	.container
		+gt('general-title-for','Этот мастер-класс будет полезен вам, если вы:')
		.row
			.col-md-6.col-sm-6
				+f('for-item-1','Давно хотите сменить место работы – начать зарабатывать онлайн')
			.col-md-6.col-sm-6
				+f('for-item-2','Не знаете, какие навыки востребованы сегодня на рынке')
		.row
			.col-md-6.col-sm-6
				+f('for-item-3','Хотите обрести актуальную и высокооплачиваемую профессию')
			.col-md-6.col-sm-6
				+f('for-item-4','Уже являетесь специалистом по одному из направлений, но хотите расширить круг своих компетенций и увеличить доход')
		.row
			.col-md-6.col-sm-6
				+f('for-item-5','Являетесь владельцем бизнеса и хотите вывести его в интернет-среду, но не понимаете, как это сделать;')
			.col-md-6.col-sm-6
				+f('for-item-6','Хотите разбираться в интернет-маркетинге, чтобы контролировать работу подрядчиков и сотрудников.')