section#plan
	.container
		+gt('','Программа мастер-класса')
		.days
			ul.nav.nav-tabs.days-links(role="tablist")
				li(role="presentation" class="active")
					a(href="#day-1" aria-controls="#day-1" role="tab" data-toggle="tab") Day 1
				li(role="presentation")
					a(href="#day-2" aria-controls="#day-2" role="tab" data-toggle="tab") Day 2
				li(role="presentation")
					a(href="#day-3" aria-controls="#day-3" role="tab" data-toggle="tab") Day 3
			.tab-content
				.tab-pane.tab-pane.day.day-1.fade.in.active(role="tabpanel")#day-1
					.row
						.col-md-6.col-sm-6
							ol.day-list
								li Что такое лидогенерация, повышение лояльности, стратегические задачи компаний
								li Профессия «Интернет-маркетолог»:
									ul.day-sublist
										li почему она так актуальна?
										li почему она придаёт спокойствие и уверенность
										li почему важно выбрать путь специалиста, а не эксперта одной программы
								li Специализации интернет-маркетолога: контекстная реклама, таргетированная реклама, smm
						.col-md-6.col-sm-6
							ol.day-list(start="4")
								li Создание аккаунта и продающей страницы в Facebook
								li Обзор фото/видеоредактора Supa
								li Создание и разбор рекламного кабинета Facebook
								li Запуск первой рекламы в Facebook через рекламный кабинет, цель – «Трафик»
					p.day-bonus
						span БОНУС: 
						| пошаговое руководство по оформлению самозанятости
				.tab-pane.tab-pane.day.day-2(role="tabpanel")#day-2
					.row
						.col-md-6.col-sm-6
							ol.day-list
								li Создание аккаунта в Инстаграм:
									ul.day-sublist
										li переход из личного в бизнес-аккаунт,
										li оформление шапки профиля,
										li знакомство с фото- и видеоредактором для создания постов и сторис с мобильного устройства Inshot и Snapseed
								li Таргет в Инстаграм: запуск поста в рекламу через кнопку «Продвигать», плюсы и минусы данного способа.
						.col-md-6.col-sm-6
							ol.day-list(start="3")
								li Поиск клиентов: кто такой клиент, где и как его искать
								li Основы контекстной рекламы: виды, способы применения и выгоды от использования
					p.day-bonus
						span БОНУС: 
						| чек-листы таргета и контекста.
				.tab-pane.tab-pane.day.day-3(role="tabpanel")#day-3
					.row
						.col-md-6.col-sm-6
							ol.day-list
								li Создание личного аккаунта во Вконтакте:
									ul.day-sublist
										li создание коммерческой группы,
										li оформление живой обложки группы,
										li создание и размещение истории для группы
								li Рекламный кабинет во Вконтакте: знакомство с кабинетом, запуск первой рекламной компании.
						.col-md-6.col-sm-6
							ol.day-list(start="3")
								li Переговоры:
									ul.day-sublist
										li типичные ошибки,
										li понимание людей и целей,
										li умение формулировать нужным, а не правильным образом.
								li Аналитика: Yandex. Metrika, Google Analytics, Роистат, Коллтрекинг, Таблицы, LTV.
					p.day-bonus
						span БОНУС: 
						| таблица для ведения статистики + проверенные каналы и группы по поиску удалённой работы.