section#andrey
	.container
		+gt('general-title-author','Андрей Худояров')
		.row
			.col-md-6.col-sm-6.col-md-push-6.col-sm-push-6
				.andrey-img
					img(src=path+"img/images/andrey.png", alt="Андрей Худояров")
				a.author-cert(href=path+"img/certs/cert-1.png" data-fancybox="cert-1")
					img(src=path+"img/certs/cert-1.png", alt="Сертификат Андрея Худоярова")
			.col-md-6.col-sm-6.col-md-pull-6.col-sm-pull-6
				ul.author-list
					li Руководитель отдела лидогенерации Академии Master Vision
					li Опыт работы в интернет-маркетинге – более 7 лет
					li Автор и ведущий обучающего курса для партнёров Академии Master Vision
					li Автор методики проведения исследований проектов в сфере интернет-маркетинга
					li Опыт работы с бюджетами на контекстную рекламу более 4 млн. рублей в месяц
					li В его портфолио – более 350 успешных кейсов
					li Провёл индивидуальное обучение более 30 стажёров, каждый из которых показал результат