section#yulya
	.container
		+gt('general-title-author','Юлия Масюль')
		.row
			.col-md-6.col-sm-6
				.yulya-img
					img(src=path+"img/images/yulya.png", alt="Юлия Масюль")
				a.author-cert(href=path+"img/certs/cert-2.png" data-fancybox="cert-2")
					img(src=path+"img/certs/cert-2.png", alt="Сертификат Юлии Масюль")
			.col-md-6.col-sm-6
				ul.author-list
					li Автор и ведущая обучающего курса по направлению smm и таргетированной рекламы для партнёров Академии Master Vision, а также туристического онлайн-проекта
					li Опыт работы в интернет-маркетинге – более 7 лет
					li Прогрессивный smm-менеджер Академии Master Vision
					li Окончила ряд обучающих курсов по направлениям smm, визуал в социальных сетях, искусство ведения инстаграм-профиля, эффективное продвижение VK-группы, настройка таргетированной рекламы в социальных сетях, контекстная реклама (Яндекс.Директ), инструменты продаж в социальных сетях
					li Опыт успешного продвижения ряда проектов: меховой салон и выставка меховых изделий, сети пиццерий и бургерных, фитнес-зал, онлайн-проект по женскому здоровью, личные профили действующих спортсменов, онлайн-академия и офлайн-центр Master Vision
					li Выпускница-2011 Института РГЭУ РИНХ по специальности «Финансы и кредит» (квалификация «Экономист»)