section#main
	.container
		include ../base/0.header.pug
		p.pre (записи мастер-класса - внизу страницы)
		h1.main-title
			small обучающий курс
			| Интернет-маркетолог
		p.main-info Старт курса: 
			span 8 июня, в 19:00(мск)
		p.main-info Авторы курса: 
			span Юлия Масюль и Андрей Худояров
		+b('','#prices','Записаться')