section#about
	.container
		p.about
			span Курс «Интернет-маркетолог» 
			| рассчитан на новичков, которые только делают первые шаги в сфере интернет-маркетинга, а также будет полезен интернет-специалистам, которые хотят расширить свои навыки в этой сфере
section#plan
	.container
		+gt('','План курса:')
		h4.plan-subtitle Пакет «Специалист»
		.block.block-1
			h5.block-title Блок 1 «Контекстная реклама»
			.block-description
				h6.block-description-title Вводная часть. Знакомство с интернет-рекламой через контекст
					span.block-more подробнее
				ul.block-description-list
					li Что такое контекстная реклама
					li Где можно купить трафик
					li Как устроен мир лидогенерации и почему контекстная реклама – ключевой инструмент
				h6.block-description-title Выбор официального софта: Директ. Коммандер. Подробное изучение программы
					span.block-more подробнее
				ul.block-description-list
					li Изучение интерфейса
					li Подробный разбор всех настроек
					li Выбор акцентов и ключевых пунктов меню
					li Советы по работе с программой для экономии времени и сокращения количества действий
				h6.block-description-title Аналитика. Способы анализа результатов и подсчёта выгоды
					span.block-more подробнее
				ul.block-description-list
					li Работа с мастером отчётов
					li Изучение всех доступных показателей
					li Составление уникального отчёта для анализа
		.block.block-2
			h5.block-title Блок 2 «Аналитика»
			.block-description
				h6.block-description-title Вводная часть. Знакомство со счётчиками аналитики
					span.block-more подробнее
				ul.block-description-list
					li Что такое счётчик аналитики
					li Как работать со счётчиками и научиться разбираться в любом новом счётчике за считанные минуты
					li Кастомизация и настройка счётчиков под нужды пользователя
				h6.block-description-title Выбор официальных счётчиков. Разбор возможностей на примере метрики
					span.block-more подробнее
				ul.block-description-list
					li Яндекс. Метрика. Подробное изучение возможностей
					li Google Analytics. Настройка и создание автоматических правил
					li Сравнение счётчиков. Нужно ли использовать оба?
				h6.block-description-title Дополнительные способы сбора статистики: сквозная аналитика и коллтрекинг
					span.block-more подробнее
				ul.block-description-list
					li Телефония. Как работать со статистикой по звонкам
					li Сквозная аналитика. Что это такое, как настроить и почему именно этот сервис – залог роста доходов
					li Как объединить в одном отчёте все данные: создание универсального отчёта
		.block.block-3
			h5.block-title Блок 3 «Поиск клиентов»
			.block-description
				h6.block-description-title Вводная часть. Как будем выбирать клиентов, кого считать клиентами, по каким принципам строить отношения
					span.block-more подробнее
				ul.block-description-list
					li Типы клиентов. Подробный разбор с характеристиками
					li Почему далеко не все, кто хочет заплатить, – клиенты
					li Работа со знакомыми: за и против. Личный опыт тренеров
				h6.block-description-title Поиск клиентов без использования телефона: соцсети, биржи, hh.ru
					span.block-more подробнее
				ul.block-description-list
					li Авторская методика поиска клиентов через ВК
					li Поиск клиентов через hh
					li Биржи и агрегаторы. Как выделить себя на фоне конкурентов
				h6.block-description-title Что делать и как себя вести, когда клиент найден. Как не позволить сделке сорваться
					span.block-more подробнее
				ul.block-description-list
					li Старт работ. Как успокоить клиента делом, а не словом
					li Почему важно заставить клиента понимать, что происходит, и как правильно объяснять происходящее
					li Что можно обещать: какие называть сроки  и, в целом, выстраивать стратегию работы в интернет-маркетинге
		.block.block-4
			h5.block-title Блок 4 «Переговоры»
			.block-description
				h6.block-description-title Типичные ошибки и как их избежать на начальном этапе работы
					span.block-more подробнее
				ul.block-description-list
					li Телефонные переговоры, переговоры в чате, переговоры в почте. Разбираем все варианты коммуникаций во время сделки
					li Тон, голос, внешний вид. А важно ли это?
					li Переговоры до и после сделки. 5 самых важных правил
				h6.block-description-title Репутация и работа на дистанции
					span.block-more подробнее
				ul.block-description-list
					li Цикл сделки, срок «жизни» клиента. Учимся наращивать базу, а не делать разовые продажи
					li Повторные продажи и увеличение среднего чека. Как получить больше денег от клиента
					li Почему именно вы должны стать базой знаний и почему важно выстраивать весь процесс переговоров именно через вас
				h6.block-description-title Поиск личных выгод и преследование целей оппонента
					span.block-more подробнее
				ul.block-description-list
					li Думать за двоих: почему позиция оппонента важнее вашей собственной
					li Сначала заинтересуйте клиента своим предложением и только потом побеспокойтесь о своей позиции
					li Личные выгоды: способ трансляции заказчику необходимости соблюдения выгод
		.block.block-5
			h5.block-title Блок 5 «Создание, оформление и настройка аккаунта/группы/страницы»
			.block-description
				h6.block-description-title Социальная сеть Вконтакте
					span.block-more подробнее
				ul.block-description-list
					li создание продающей обложки группы, аватара,
					li правильность заполнения всех требуемых настроек,
					li выбор единого стиля/визуала, обзор фоторедактора Canva,
					li создание видеопостов с помощью видеоредактора Supa,
					li отложенный постинг – программа Smmplanner,
					li создание конкурсов и розыгрышей,
					li бесплатные способы раскрутки,
					li как правильно составить контент-план и для чего он нужен,
					li разбор статистики группы
				h6.block-description-title Социальные сети Facebook и Instagram
					span.block-more подробнее
				ul.block-description-list
					li регистрация аккаунта Facebook, оформление обложки и наполнение постами,
					li знакомство с официальным отложенным постингом от Facebook – Creator Studio,
					li создание личного аккаунта в Instagram и перевод его в бизнес-профиль, отличие аккаунта «Автор» от «Бизнес»,
					li оформление шапки профиля, подготовка аккаунта к продвижению,
					li создание и самостоятельное оформление хайлайтов – вечных сторис,
					li создание единого стиля/визуала профиля при помощи Lightroom,
					li создание видеопостов и сторис, обзор программы InShot,
					li правила создания постов, использования хэштегов, попадания в умную ленту (в топ публикаций),
					li привлечение подписчиков и продвижение аккаунта (розыгрыши, пиары),
					li создание рубрикатора постов,
					li статистика, аналитика аккаунта
		.block.block-6
			h5.block-title Блок 6 «Настройка таргетированной рекламы»
			.block-description
				h6.block-description-title Таргетинг в социальной сети Вконтакте
					span.block-more подробнее
				ul.block-description-list
					li создание рекламного кабинета,
					li пополнение бюджета,
					li создание рекламного объявления, продающие акценты в тексте объявления и макете,
					li обзор всех видов рекламных записей,
					li подбор целевой аудитории для таргетинга,
					li настройка рекламной кампании на ваших конкурентов,
					li что такое маркет-платформа (биржа рекламы),
					li как правильно разместить свою рекламу на маркет-платформе
				h6.block-description-title Таргетинг в социальных сетях Facebook и Instagram
					span.block-more подробнее
				ul.block-description-list
					li создание Business Manager, добавление уже действующих бизнес-страниц в Business Manager или создание новых,
					li создание Ads Manager,
					li настройка платежей за рекламные кампании, создание аудиторий,
					li подготовка креативов для Facebook и Instagram, создание рекламных текстов,
					li обзор всех целей рекламной кампании,
					li создание рекламной кампании с целью «Трафик» и «Вовлечённость»,
					li анализ запущенных объявлений
		h4.plan-subtitle Пакет «Премиум»
			span В данный пакет входят все уроки из пакета «Специалист» + дополнительные блоки
		.block.block-1
			h5.block-title Блок 1 «Контекстная реклама»
			.block-description
				h6.block-description-title Мастер отчётов. Изучение ключевого инструмента для анализа в Яндекс.Директ
					span.block-more подробнее
				ul.block-description-list
					li Изучение возможностей мастера отчётов и способов его применения
					li Подробный обзор столбцов и срезов
					li Создание персональных отчётов
				h6.block-description-title Работа с креативами. Виды графических объявлений
					span.block-more подробнее
				ul.block-description-list
					li Графические. VS. Текстово-графические
					li Содержание, требования, элементы
					li Советы по подбору изображений
				h6.block-description-title Работа с текстами. Изучение формул и основных правил написания продающих текстов
					span.block-more подробнее
				ul.block-description-list
					li Разбор формул на примере AIDA
					li Как уместить всё желаемое в 130 знаков
					li Конкурентные преимущества: тезисы, цифры
		.block.block-2
			h5.block-title Блок 2 «Аналитика»
			.block-description
				h6.block-description-title Сквозная аналитика: Roistat
					span.block-more подробнее
				ul.block-description-list
					li Обзор возможностей сквозной аналитики на примере сервиса
					li Интеграция и настройка
					li Взаимосвязь с CRM и разница в получаемых выводах с данными из карточек и без них
				h6.block-description-title Коллтрекинг: Calibri
					span.block-more подробнее
				ul.block-description-list
					li Обзор возможностей коллтрекинга на примере сервиса
					li Интеграция и настройка
					li Ведение отчётности внутри сервиса
				h6.block-description-title Таблицы и ведение статистики
					span.block-more подробнее
				ul.block-description-list
					li Google Docs и Excel
					li Простейшие формулы
					li Создание персональной таблицы статистики
		.block.block-3
			h5.block-title Блок 3 «Поиск клиентов»
			.block-description
				h6.block-description-title Выбор чека за услуги и вера в продукт
					span.block-more подробнее
				ul.block-description-list
					li Как узнать, сколько вы стоите
					li Почему нельзя продавать то, в чём вы сомневаетесь
					li Увеличение чека: как богатеть и не наглеть
				h6.block-description-title Формы взаимодействия с клиентом, формы оплаты
					span.block-more подробнее
				ul.block-description-list
					li Самозанятость. Знакомство и подробный разбор официального способа платить налоги и не ходить в налоговую
					li Предоплата или постоплата?
					li Работа с клиентом по телефону, в чате или через посредника
				h6.block-description-title Как выбрать клиента и не ошибиться: работа с вероятностями
					span.block-more подробнее
				ul.block-description-list
					li Почему токсичные клиенты никогда не позволят развиваться
					li Деньги – далеко не главное, но они должны быть
					li Самые безопасные сделки для чувства уверенности
		.block.block-4
			h5.block-title Блок 4 «Переговоры»
			.block-description
				h6.block-description-title Уверенность – фундамент любой сделки. Как обрести веру в продукт
					span.block-more подробнее
				ul.block-description-list
					li Почему отсутствие результата невозможно скрыть
					li Создание спокойной атмосферы для проведения встреч и коммуникаций: почему это так важно
					li Не пытайтесь убедить человека сделать что-то. Пусть он завидует так, что захочет сам
				h6.block-description-title Молчание – золото
					span.block-more подробнее
				ul.block-description-list
					li Можно молчать всегда
					li Пусть ваше руководство получает только самое важное для них
					li Никогда не придумывайте кейсы
				h6.block-description-title Известные методы ведения переговоров. Обзор учебников на примере книги Джима Кемпа «Сначала скажите «Нет»
					span.block-more подробнее
				ul.block-description-list
					li Стратегия в спорте и в переговорах: анализ тактики оппонента
					li Изучение искусства переговоров через тематические книги
					li Выбор образа: почему нельзя выбирать образ, который нравится
		.block.block-5
			h5.block-title Блок 5 «Создание, оформление и настройка аккаунта/группы/страницы»
			.block-description
				h6.block-description-title Социальная сеть Вконтакте
					span.block-more подробнее
				ul.block-description-list
					li создание анимированной обложки,
					li создание историй для группы и их размещение,
					li выходы в прямой эфир в рабочей группе,
					li анализ групп конкурентов
				h6.block-description-title Социальные сети Facebook и Instagram
					span.block-more подробнее
				ul.block-description-list
					li освоение основных функций Photoshop для создания креативов,
					li обзор фоторедактора Snapseed, 
					li как сохранять/репостить истории, тексты и посты, обзор специальных программ,
					li создание продающих, креативных сторис при помощи видеоредактора Supa,
					li подключение сервиса «Таплинк», изучение функций – продажа, приём платежей, создание автоворонок продаж без сайта,
					li анализ рекламных кампаний конкурентов
		.block.block-6
			h5.block-title Блок 6 «Настройка таргетированной рекламы»
			.block-description
				h6.block-description-title Таргетинг в социальных сетях Facebook, Instagram и Вконтакте
					span.block-more подробнее
				ul.block-description-list
					li создание пикселя Facebook и Вконтакте, его функции и настройка,
					li ретаргетинг, его функции, особенности, настройка в Instagram и во Вконтакте,
					li настройка специально настроенных конверсий в рекламном кабинете Facebook, их назначение и преимущество,
					li создание индивидуализированной и похожей аудитории,
					li детальная настройка рекламной кампании для улучшения конверсии
		.block.block-6
			h5.block-title Бонусный урок «Продажа через чат-бота»
				span.block-more подробнее
			ul.block-description-list
				li Создание Телеграм-канала,
				li Подключение бота,
				li Добавление в бота кнопок со смайлами и url-ссылками