mixin t(cl,h4,p)
	.lets-item(class=cl)
		h4.lets-item-title=h4
		p.lets-item-text=p

section#lets
	.container
		+gt('','Курс позволит вам:')
		.row
			.col-md-6.col-sm-6
				+t('lets-item-1','1','Познакомиться и разобраться в особенностях интернет-маркетинга и найти своё место в этой сфере;')
				+t('lets-item-2','2','Развеять для себя основные мифы о сложностях такого вида работы')
				+t('lets-item-3','3','Понять, что важно учиться у тех, кто имеет практический опыт в этой области;')
				+t('lets-item-4','4','Актуализировать уже имеющиеся знания;')
				+t('lets-item-5','5','Открыть в себе новые возможности, способности и интересы;')
				+t('lets-item-6','6','Избавиться от страха остаться без работы и средств к существованию;')
			.col-md-6.col-sm-6
				+t('lets-item-7','7','Начать новую перспективную карьеру, на которую не будут влиять экономические кризисы и политическая обстановка;')
				+t('lets-item-8','8','В несколько раз увеличить свой доход за счёт расширения своих навыков работы в интернете;')
				+t('lets-item-9','9','В кратчайшие сроки после обучения найти работу, так как Вы будете обладать именно теми знаниями и навыками, которые будет ценить большинство работодателей')
				+t('lets-item-10','10','Помочь своим друзьям и близким получить интернет-профессию, ведь именно Вы станете для них проводником в мир новых возможностей')