.modal#Modal-1
	h4.modal-title Пакет «Специалист»
	.row
		.col-md-6.col-sm-6
			h5.modal-block-title Блок 1 «Контекстная реклама»
			.modal-list
				li Вводная часть. Знакомство с интернет-рекламой через 
				li Выбор официального софта: Директ. Коммандер. Подробное изучение программы
				li Аналитика. Способы анализа результатов и подсчёта выгоды
		.col-md-6.col-sm-6
			h5.modal-block-title Блок 2 «Аналитика»
			.modal-list
				li Вводная часть. Знакомство со счётчиками аналитики
				li Выбор официальных счётчиков. Разбор возможностей на примере метрики
				li Дополнительные способы сбора статистики: сквозная аналитика и коллтрекинг
	.row
		.col-md-6.col-sm-6
			h5.modal-block-title Блок 3 «Поиск клиентов»
			.modal-list
				li Вводная часть. Как будем выбирать клиентов, кого считать клиентами, по каким принципам строить отношения
				li Поиск клиентов без использования телефона: соцсети, биржи, hh.ru
				li Что делать и как себя вести, когда клиент найден. Как не позволить сделке сорваться
		.col-md-6.col-sm-6
			h5.modal-block-title Блок 4 «Переговоры»
			.modal-list
				li Типичные ошибки и как их избежать на начальном этапе работы
				li Репутация и работа на дистанции
				li Поиск личных выгод и преследование целей оппонента
	.row
		.col-md-6.col-sm-6
			h5.modal-block-title Блок 5 «Создание, оформление и настройка аккаунта/группы/страницы»
			.modal-list
				li Социальная сеть Вконтакте
				li Социальные сети Facebook и Instagram
		.col-md-6.col-sm-6
			h5.modal-block-title Блок 6 «Настройка таргетированной рекламы»
			.modal-list
				li Таргетинг в социальной сети Вконтакте
				li Таргетинг в социальных сетях Facebook и Instagram
.modal#Modal-2
	h4.modal-title Пакет «Премиум»
	.row
		.col-md-6.col-sm-6
			h5.modal-block-title Блок 1 «Контекстная реклама»
			.modal-list
				li Мастер отчётов. Изучение ключевого инструмента для анализа в Яндекс.Директ
				li Работа с креативами. Виды графических объявлений
				li Работа с текстами. Изучение формул и основных правил написания продающих текстов
		.col-md-6.col-sm-6
			h5.modal-block-title Блок 2 «Аналитика»
			.modal-list
				li Сквозная аналитика: Roistat
				li Коллтрекинг: Calibri
				li Таблицы и ведение статистики
	.row
		.col-md-6.col-sm-6
			h5.modal-block-title Блок 3 «Поиск клиентов»
			.modal-list
				li Выбор чека за услуги и вера в продукт
				li Формы взаимодействия с клиентом, формы оплаты
				li Как выбрать клиента и не ошибиться: работа с вероятностями
		.col-md-6.col-sm-6
			h5.modal-block-title Блок 4 «Переговоры»
			.modal-list
				li Уверенность – фундамент любой сделки. Как обрести веру в продукт
				li Молчание – золото
				li Известные методы ведения переговоров. Обзор учебников на примере книги Джима Кемпа «Сначала скажите «Нет»
	.row
		.col-md-6.col-sm-6
			h5.modal-block-title Блок 5 «Создание, оформление и настройка аккаунта/группы/страницы»
			.modal-list
				li Социальная сеть Вконтакте
				li Социальные сети Facebook и Instagram
		.col-md-6.col-sm-6
			h5.modal-block-title Блок 6 «Настройка таргетированной рекламы»
			.modal-list
				li Таргетинг в социальных сетях Facebook, Instagram и Вконтакте
	.row
		.col-md-12.col-sm-12
			h5.modal-block-title Бонусный урок «Продажа через чат-бота»